.grid {
  margin-bottom: 2rem;
  flex-grow: 1;
}

.grid > div {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 138px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: transparent;
  transition: background-color 50ms;
}

.grid > div:hover {
  background-color: #5a8dee0f;
}

.grid > div.loading > div:after {
  content: '';
  display: block;
  height: 20px;
  width: 75%;
  background-color: #eceff5;
  border-radius: 8px;
  margin: 2px 0;
}

.grid > div.loading:hover,
.grid > div.no-data:hover {
  background-color: transparent;
}

.grid > div.loading > div:last-child:after {
  width: 100%;
}

.grid > div.loading > div:nth-child(3):after {
  margin-left: auto;
  margin-right: auto;
}

.grid > div.no-data {
  grid-template-columns: 1fr;
  text-align: center;
  margin: 5rem 0;
  font-weight: 300;
  font-size: 1.2rem;
}

.grid > div > div:first-child,
.grid > div > div:nth-child(2) {
  font-weight: 500;
}

.grid > div > div:nth-child(3) {
  text-align: center;
}

.grid > div:first-child {
  color: #fff;
  font-size: 0.75rem;
  background-color: #5a8dee;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  position: sticky;
  top: 65px;
  z-index: 100;
}

.grid > div:first-child > div {
  font-weight: 700;
}

.star:before {
  content: '★';
  color: #fece00;
  margin-right: 8px;
}

@media (max-width: 764px) {
  .grid > div:first-child {
    display: none;
  }

  .grid > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 0;
  }

  .grid > div > div:nth-child(2) {
    margin-right: auto;
  }

  .grid > div > div:nth-child(3) {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: flex-end;
  }

  .grid > div > div:nth-child(3):before {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(../../assets/git.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .grid > div {
    border-bottom: 1px solid #f1f1f1;
  }
  
  .grid > div:last-child {
    border-bottom: none;
  }

  .grid > div > div:first-child {
    width: 100%;
    font-size: 1rem;
  }

  .grid > div.loading > div {
    min-width: 4rem;
  }

  .grid > div.no-data {
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }

  .grid > div.loading > div:nth-child(3):before {
    display: none;
  }

  .grid > div.loading > div:not(:first-child):after {
    height: 16px;
  }
}
